USERS_URL="https://t2-users-snap-msg-auth-user-julianquino.cloud.okteto.net"
PROFILE_URL=https://t2-profile-snap-msg-auth-profile-julianquino.cloud.okteto.net/
CONTENT_URL="https://t2-content-snap-msg-content-julianquino.cloud.okteto.net"
TOKEN_SECRET_KEY=tp2
